*{
mrgin:0;
padding: 0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
    box-sizing:border-box;

}

.social{
position: relative;
left:0;
top:100px;
z-index: 2000;
    

}

.social ul{
list-style: none;
 
    
}

.social ul li a {
list-style: none;
    

}

.social ul li a {
    display: inline-block;
    
    color: white;
    background: grey;
    padding: 50px 40px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition: all 500ms ease;
}

.social ul li a:hover{
    padding: 30px 10px;
    background-color:red;

}



span{
 font-size: 20px;
    margin-right: 15px;
}





